<footer>
    <div>
        <p>
            | All rights reserved. |
        </p>

 
        <p>
           | Para mais coisas legais, acesse o meu Github: <a href="https://github.com/hethus" target="_blank">Github</a> |
        </p>

    </div>
    

</footer>