<header>
    <img id="logo" src="/img/logo pokemon.png" alt="logo pokémon">
    <nav>
        <ul>
            <a href="/"><li>Home</a></li></a>
            <a href="/cadastro"><li>Cadastro</li></a>
        </ul>
    </nav>
</header>